<div class="container-fluid mb-5">

  <h2>Registration form</h2>
  <form #userForm="ngForm">
  
  <div class="form-group">
      <label>USERNAME</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="USERNAME" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid|| name.untouched">Name is required</small>
  </div>
    

    <div class="form-group">
      <label>email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input type="tel" #phone="ngModel" patter="^\d{10}$" required
      [class.is-invalid]="name.invalid && name.touched" class="form-control" name="Phone" [(ngModel)]="userModel.phone">
    <!----  <small class="text-danger" [class.d-none]="name.valid || name.untouched">Phone number is required and must be 10 digits</small>-->
        <div *ngIf="phone.errors && (phone.inavlid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be of 10 digit</small>
        </div>
    </div>

    <div class="form-group">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)"  #topic="ngModel" [class.is-invalid]="topicHasError || topic.touched" class="custom-select" name="topic" [ngModel]="userModel.topic">
        <option value="">I AM INTERESTED IN</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched">Please choose a topic</small>
    </div>

    <div class="mb-3">
      <label>Time preference</label>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="userModel.timepreference" type="radio" name="timepreference" value="morning">
        <label class="form-check-label1">Morning(9-12)</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" [(ngModel)]="userModel.timepreference" type="radio" name="timepreference" value="evening">
        <label class="form-check-label1">Evening(6-9)</label>
      </div>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
      <label class="form-check-label">
        send me promotional offers
      </label>
    </div>

    <button class="button" type="submit">Submit</button>

  </form>
</div>
